.title {
  border: 1px solid white;
  margin: auto;
  padding-left: 20px;
  width: 78.5%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.gridContainer {
  display: grid;
  width: 80%;
  height: 100px;
  margin: auto;
  grid-template-columns: auto auto auto;
}
.gridItem {
  display: flex;
  border: 1px solid white;
  height: 100px;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.gridItem > div {
  width: 90px;
  height: 90px;
}
.gridItem > div > img {
  height: 100%;
  width: 100%;
}

.gridItem > h4 {
  text-align: justify;
  margin-top: 35px;
  margin-left: 10px;
}

.womentitle {
  margin: auto;
  width: 100%;
  height: 500px;
  margin-top: 20px;
}
