.container{
    padding-left: 50px;
    padding-right: 50px;
}

.V_firstdiv{
    display: flex;
    margin-top: 10px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    /* border: solid; */
    justify-content: space-between;
    border-radius: 15px;
}
.V_firstdiv_p{
    box-sizing: border-box;
    padding: 20px;
}
.firstdivimg{
    width: 60%;
    height: 400px;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}
.firstdivimg>img{

    width: 100%;
    height: 100%;
    transition: all 1s;

}
.firstdivimg>img:hover{
    transform: scale(1.06);

}
.firstdivimg>i{
    position: absolute;
    margin-left: -25%;
    margin-top: 10%;
    font-size: 70px;
    color: rgb(160, 160, 209);
}

.Feat{
    display: flex;
    justify-content: space-between;
}
/* .VS{
    border-radius: 15px;

} */
.V_secondDiv{
    display: flex;
    gap: 20px;
    box-sizing: border-box;
  
}

.V_secondDiv>div{
    
    width: 30%;
}

.VS1{
    /* border:solid; */
    border-radius: 15px;
    overflow: hidden;

}

.VS1>img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 1s;
}
.VS1>img:hover{
        transform: scale(1.1);
}
.VS1>i{
    position: absolute;
    margin-left: -12%;
    margin-top: 3%;
    font-size: xxx-large;
    color: rgb(110, 110, 137);;
}
.VS2{
    /* border: solid; */
    margin-top: -20px;
}
.VS2>p{
    margin-top: -15px;
}

.VhtirdDiv{
display: grid;
grid-template-columns: repeat(7,1fr);
gap: 10px;
}
.VhtirdDiv>div{
    box-sizing: border-box;
    padding: 50px 30px;
    /* border: solid; */
    cursor: pointer;
    height: 190px;
    border-radius: 15px;
    overflow: hidden;

    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
     box-shadow:         inset 0 0 20px #000000;

}
.VT1>img{
    width: 100%;
    height: 100%;
}
.VfourDiv{
    display: flex;
    gap: 10px;
    /* border: solid; */
    height: 600px;
}


.Vfour1Div1{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: solid; */
    gap: 20px;
    justify-content: space-around;
    width: 98%;
    height: 50%;
}
.Vfour1Div1>div{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
padding: 10px;
}
.Vf_img{
height: 50%;
border-radius: 15px;
overflow: hidden;



}
.Vf_img>img{
    width: 100%;
    height: 100%;
transition: all 1s;

}
.Vf_img>img:hover{
        transform: scale(1.1);
}

.Vfour2Div{
    /* border: solid; */
    padding-left:30px ;
    padding-right: 30px;
    width: 50%;
    
}








.R_Task1{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 10px;
    width: 130%;
    margin-left: -41px;
    
    }
    .Rdiv1{
    border-bottom: solid rgb(189, 181, 181);
    box-sizing: border-box;
    padding-top: 3px;
    padding-left: 10px;
    margin-top: 9px;
    
    
    }
    .Rdiv2{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    .Rimg{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 10px;
        margin-left: 10px;
    }    
    .Rimg>img{
        width: 100%;
        height: 100%;
    }
    .RimgDetails{
    
    }
    .RimgDetails>p:first-child{
        font-weight: bold;
        font-size: smaller;
        color: rgb(83, 71, 71);
    }
    .RimgDetails>p:last-child{
    font-size: small;
    }
    .RTask1_h1{
        padding: 0px 40px 10px 70px;
        color: #03a9f4;
        
    }
    