.navbar{
    background-color: rgb(3,169,244);
    color: white;
    display: flex;
    gap: 3%;
    font-size: 20px;
    flex-wrap: wrap;
    width: 98.5%;
    margin: auto;
    position: fixed;
    z-index: 1;
    top: -5px;
}

.navbar>div{
    margin-top: 15px;
    cursor: pointer;
}

.navimg{
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.mainnav{
    background-color: rgb(3,169,244);
    width: 100%;
   
   
}
