body{
    overflow-x: hidden;
}

.navbar{
    background-color: rgb(3,169,244);
    color: white;
    display: flex;
    gap: 2%;
    font-size: 20px;
    width: 100%;
    position: fixed;
    z-index: 1;
    
}

.navbar>div{
    margin-top: 15px;
    cursor: pointer;
}

.navimg{
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.mainnav{
    background-color: rgb(3,169,244);
    width: 100%;
   margin-top: -19.8px;
   
}
