.News{
    width: 97%;
    margin-left: -15px;

}
.first{
    width: 96%;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-family: 'Poppins', sans-serif;

}
.container {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius: 15px;
}

.article {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/lsci/db/PICTURES/CMS/339900/339951.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.article:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.top1{
    width: 600px;
    margin: auto;
    height: 80px;
}
.top2{
    height: 220px;
    display:  grid;
    grid-template-columns: repeat(3,1fr);
 width: 80%;
 margin-left: 10px;
}

.div {
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.a {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_240/lsci/db/PICTURES/CMS/308500/308545.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.a:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.b {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_240/lsci/db/PICTURES/CMS/341000/341070.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.b:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.c {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_240/lsci/db/PICTURES/CMS/340800/340891.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.c:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.h5{
    width: 220px;
}
.span{
    color: #3aa9f4;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
    
    font-weight: bold;
}

a:hover{
    color: #3aa9f4;
    
}
.is{
    margin-bottom: -15px;
    margin-left: 20px;
}
.pant {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/esci/media/motion/2022/0616/dm_220616_INET_CRIC_indvsa2022_time_out_4tht20ipre_non-branded_GLOBAL/dm_220616_INET_CRIC_indvsa2022_time_out_4tht20ipre_non-branded_GLOBAL.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
    text-align: center;
}

.pant:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.pant>img{
    height: 50px;
    width: 50px;
    margin-top: 180px;
    border-radius: 30px;
    
}
.bwi {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/lsci/db/PICTURES/CMS/341000/341084.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.bwi:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.ban {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/lsci/db/PICTURES/CMS/340000/340017.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.ban:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.pkl {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/lsci/db/PICTURES/CMS/339100/339143.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
    text-align: center;
}

.pkl:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.pkl>img{
    height: 50px;
    width: 50px;
    margin-top: 180px;
    border-radius: 30px;
    
}

.a1 {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_240/lsci/db/PICTURES/CMS/340100/340174.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.a1:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.b1 {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_240/lsci/db/PICTURES/CMS/339900/339914.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.b1:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.c1 {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_240/lsci/db/PICTURES/CMS/340900/340983.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.c1:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.james {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/lsci/db/PICTURES/CMS/338400/338495.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
    text-align: center;
}

.james:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.james>img{
    height: 50px;
    width: 50px;
    margin-top: 180px;
    border-radius: 30px;
    
}
#mb{
    text-decoration: none;

}
#mb:hover{
    color: black;
}
.ire {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/lsci/db/PICTURES/CMS/327000/327061.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
    text-align: center;
}

.ire:hover {
    transform: scale(1.2);
    border-radius: 10px;

}
.icc {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/lsci/db/PICTURES/CMS/329100/329131.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
    text-align: center;
}

.icc:hover {
    transform: scale(1.2);
    border-radius: 10px;

}


.rot {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/lsci/db/PICTURES/CMS/340800/340868.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
}

.rot:hover {
    transform: scale(1.2);
    border-radius: 10px;

}

.test {
    width: 100%;
    height: 100%;
    background: url(https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_720/lsci/db/PICTURES/CMS/341000/341029.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 15px;
    text-align: center;
}

.test:hover {
    transform: scale(1.2);
    border-radius: 10px;

}