.top {
  /* margin-top: 50px; */
  margin-left: 50px;
}

.top1 {
  height: 60px;
  width: 80%;
  margin: auto;
  /* margin-top: 30px; */
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 15px;
}
.top1 > div {
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.hr {
  border: 1px solid #3aa9f4;
}
.select {
  height: 60px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 15px;
}
.select > select {
  width: 30%;
  font-size: 17px;
  text-align: center;
}
.select > div {
  text-align: center;
  padding: 15px;
}
.matches {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 70%;
  height: 1100px;
  margin-top: 20px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.matches > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  height: 250px;
  border-radius: 15px;
  width: 95%;
  margin: auto;
}
.matches img {
  height: 40px;
  width: 50px;
  border-radius: 25px;
}
.flag {
  display: flex;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.flag > div {
  margin-left: 10px;
  height: 20px;
  margin-top: 8px;
}

